<configuration>
    <!-- Console Log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="stdout.logback" level="INFO" />
    <logger name="stdout.logback.tests" level="WARN" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- File Log -->
    <property name="LOG-FILE" value="LogFile"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG-FILE}}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>LogFile.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="twitch-clips-tg-bot.logback" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE" />
    </root>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>